*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--base-gray-200);
  overflow-x: hidden; 
}

html {
  font-family: var(--ff-base);
  font-weight: var(--fw-base);
  font-size: var(--fs-base);
  line-height: 1.6;
  color: var(--base-gray-500);

  overflow-x: hidden; 
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: inline-block;
}

:root {
  /* Color styles */
  --main-pink: rgba(214, 88, 179, 1);
  --main-green: rgba(69, 180, 66, 1);
  --main-green-light: rgba(69, 180, 66, 0.12);
  --main-gradient: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);
  --base-white: rgba(255, 255, 255, 1);
  --base-gray-100: rgba(244, 241, 242, 1);
  --base-gray-200: rgba(233, 231, 233, 1);
  --base-gray-300: rgba(223, 220, 223, 1);
  --base-gray-400: rgba(206, 202, 205, 1);
  --base-gray-500: rgba(117, 108, 113, 1);
  --base-gray-600: rgba(74, 68, 72, 1);
  --base-gray-700: rgba(51, 43, 49, 1);

  /* Text-size styles */
  --heading-title-md: 1.5rem;
  --heading-title-sm: 1.125rem;
  --heading-subtitle-md: 0.875rem;
  --heading-subtitle-sm: 0.75rem;
  --body-text-md: 1rem;
  --body-text-sm: 0.875rem;
  --body-text-xs: 0.75rem;

  /* Font styles */
  --ff-base: "Oxygen", sans-serif;
  --fw-base: 400;
  --fs-base: 1rem;

  /* Spacing styles */
  --px-lg: 1.25rem;
  --px-md: 1rem;
  --px-sm: 0.75rem;
  --py-lg: 2rem;
}

@media (width >= 80em) {
  :root {
    /* Spacing styles */
    --px-lg: 2rem;
    --py-lg: 4rem;
    --px-sm: 0.75rem;
  }
}